

.site-col-border-less-wrapper {
  padding-bottom: 16px;
}
.extra{
  color:tomato;
}
.extra-gray{
  color:#ccc;
}
.row-bottom{
  margin-bottom: 3px;
}
.card-row{
  color:#8492A6;
  font-size: 13px;
}
.actions{
  font-size: 12px;
}